<div class="home-text">
	<div class="home-img">
		{% include 'Frontend/Home/_image.html.twig' %}
	</div>
	<div class="home-right">
		<h1>Bienvenue</h1>
		<p class="home-text-content">Je suis ravi de vous accueillir dans l'univers visuel que j'ai créé à travers mon objectif. La photographie est bien plus qu'une simple passion pour moi, c'est un moyen d'exprimer ma créativité, de capturer des moments uniques et de partager avec vous les histoires qui se cachent derrière chaque image. 
						 
						À travers ces pages, vous découvrirez une collection de clichés soigneusement sélectionnés, reflétant ma vision personnelle de ce monde fascinant. Chaque photo a son propre récit, chaque instant figé dans le temps possède une émotion qui lui est propre. 
						 
						Que vous soyez un amateur de photographie, un professionnel du domaine ou simplement un curieux en quête d'inspiration visuelle, j'espère que vous trouverez ici des images qui vous toucheront et vous inspireront. 
						 
						N'hésitez pas à parcourir mon portfolio, à laisser vos commentaires, ou à me contacter si vous avez des questions ou des projets photographiques en tête. Je suis toujours ouvert à de nouvelles collaborations et à de nouvelles idées. 
						 
						Merci d'avoir pris le temps de visiter mon portfolio. J'espère que cette immersion dans mon univers photographique vous procurera autant de plaisir que j'en ai eu à capturer ces moments. Revenez régulièrement pour découvrir de nouvelles images et histoires captivantes.
		</p>
	</div>


</div>
