<div class="home-text">
	<h1>Bienvenue</h1>
	<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
							Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.Lorem ipsum dolor sit amet consectetur, adipisicing elit.
							Rem nisi magnam quibusdam ullam, illum eius quas reiciendis, expedita aperiam totam voluptatibus sapiente at praesentium, quisquam laborum mollitia ratione enim natus.</p>
	<div class="home-video">
		{% include 'Frontend/Home/_image.html.twig' %}
	</div>

</div>
