{% extends 'base.html.twig' %}

{% block title %}
	Accueil
	{{ parent() }}
{% endblock %}

{% block body %}

	{# <div class="home-body">
										<video src="../../video/video.mp4"></video>
									</div> #}
	{% include 'Frontend/Home/_image.html.twig' %}


{% endblock %}
