{% extends 'base.html.twig' %}

{% block title %}
	Accueil
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="home-app">
		<h1>PHOTOGRAPHE</h1>
		<p>Confiez votre projet à un photographe passionné et créatif qui le mènera à bien dans les moindres détails.</p>
		<div class="home-app-overlay"></div>
	</div>
	<div>
		{% include 'Components/HomePage/_homeText.html.twig' %}
	</div>

	{# <hr class="separer"> #}
	{# <div>
				{% include 'Components/HomePage/_homeVideo.html.twig' %}
			</div> #}


	<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
{% endblock %}
