{% extends 'base.html.twig' %}

{% block title %}
	Homepage
	{{ parent() }}
{% endblock %}

{% block body %}

	<div class="home-body">
		{% include 'Layout/header.html.twig' %}
	</div>


{% endblock %}
