// 基本网页样式
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Angkor&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
}

body {
    font-family: $font-primary;
    font-size: 16px;
    font-weight: 400;
    color: $text-color;
    line-height: 28px;
    transition: 0.5s;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $heading;
    margin-bottom: 0;
}

h1 {
    font-size: 35px;
    font-weight: 600;
    line-height: 45px;
}

h2 {
    font-size: 32px;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: -0.8px;
}

h3 {
    font-size: 28px;
    font-weight: 500;
    line-height: 32px;
}

h4 {
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

h5 {
    font-size: 18px;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    font-weight: 300;
}

img,
video,
figcaption {
    max-width: 100%;
}

a{
    text-decoration: none;
}

ul,li {
    list-style: none;
}
.btn-primary {
    color: $white !important;
    background-color: $secondary;
    border: 1px solid $secondary;

    &:hover {
        background-color: darken($secondary, 10%);
        border: 1px solid darken($secondary, 10%);
    }
}

.alert {
    margin-bottom: 0;
}

pre {
    width: 100%;
    border-radius: $border-radius;
}

.titre {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin: 2em 0;
 
}

.titre h1 {
  margin: 1em 0;
  color: #1e1c1c;
}

/********** NAVBAR ****************/
.navbar {
  position: sticky;
  top: 0;
  z-index: 9999;
  
}
.navbar-links {
  width: 100%;
  height: 112px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  // height: calc(120vh - 112px);
  // background: top / cover url('../images/banner.jpg');
  align-items: center ;
  text-align: center;
  font-family: 'Dancing Script', sans-serif;
  background: #f3f3f3;
  opacity: 0.8;
  gap: 5em; 

}

.flash {
  color: black;
  filter: blur(2px);
  animation: animate 2.5s linear infinite;
}
@keyframes animate {
  0%, 100% {
      color: #fff;
      filter: blur(2px);
      text-shadow: 0 0 10px #1e90ff
  }
  5%,95% {
      color: #111;
      filter: blur(0px);
  }
}


.navbar a {
    margin-top: 3em;
    color: rgb(70, 63, 63);
    font-family: 'Angkor', sans-serif;
    height: 2em;
    transition: all 0.3s ease;
    &:hover {
      color: $secondary;
    }
}

.name {
  font-size: 3.5em;
  font-family: 'Great Vibes', sans-serif;
  font-weight: 700;
}

 /* hide responsive menu */


 .navbar-burger {
  display: inline-block;
  width: 40px;
  height: 3px;
  background: rgb(79, 76, 70);
  border-radius: var(--border-radius);
  position: relative;
  transition: all .4s ease;
}
.navbar-burger::before,
.navbar-burger::after {
    content: "";
    display: inline-block;
    width: 40px;
    height: 3px;
    background: rgb(79, 76, 70);
    border-radius: $border-radius;
    position: absolute;
    transition: all .4s ease;
}

.navbar-burger::before {
    top: -8px;
}

.navbar-burger::after {
    top: 8px;
}
.link-burger.open .navbar-burger {
  background: transparent;
}

.link-burger.open .navbar-burger::before {
  top: 0;
  transform: rotate(45deg);
}

.link-burger.open .navbar-burger::after {
  top: 0;
  transform: rotate(-45deg);
}
.navbar-menu {
  display: none;
}
@media screen and (max-width: 768px) {
.navbar-menu {
  display: block;
  margin-top: -1.3em;
}
  .navbar-content {
    display: none;
}
.navbar-menu a {
  color: #6c716b;
}
.menu-container {
  display: flex;
  justify-content: space-around;
  align-items: center ;
  background-color: #f3f3f3;
  opacity: 0.8;
}
.menu-container a {
  margin-top: 2.4em;
}
// .navbar-burger{
//   margin-top: 3em;
// }

.link-burger {
  display: inline-block;
}

.menu-logo {
  font-size: 1.5em;
  
}

.menu-roulent ul {
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: rgb(62, 52, 52);
  color: rgb(247, 242, 242);
  gap: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: transform .4s ease;
}
.menu-roulent a {
  color: #f3f3f3;
}

.menu-roulent ul li {
  width: 100%;
  text-align: center;
  padding: 1em 0;
}

.menu-roulent ul li:not(:first-of-type) {
  border-top: 1px solid white;
}

.menu-roulent ul.open {
  transform: scaleY(1);
}
 

}


.btn {
    background: rgb(188, 89, 39);
    border-radius: $border-radius;
    padding: .5em;
}

.a-btn{
  background-color: rgb(144, 186, 129);
  border-radius: $border-radius;
  width: 150px;
  text-align: center;
  color: black;
  margin: 0 .5em;
}
.b-btn {
  border: none;
  background-color: rgb(216, 146, 85);
  border-radius: $border-radius;
  width: 150px;
  height: 28px;
  text-align: center;
  color: #ecfae9;
  margin: 0 .5em;
}


/************** LOGIN ****************/

  .container {
    width: 500px;
    height: 400px;
  /*  Pour centrer le contenu d'un bloc  */
    text-align: center; 
  /*  Pour centrer un bloc on doit d'abord préciser le width et utiliser ensuite la prop margin  */
    margin : auto;
    background-color: rgba(68, 75, 84,0.8);
    margin-top: 150px ;
    border-radius: 5px;
  }
  .container-img {
    width: 150px;
    height:150px;
    border-radius:50%;
    margin-top:-70px;
    margin-bottom: 30px;
  }
   input {
    height: 40px;
    width: 300px;
    font-size: 18px;
    font-family: "Lato";
    margin-bottom: 10px;
    border-radius: 5px;
    padding-left: 35px;
  }
  .form-input {
    position:relative;
  }
  .fa-lock, .fa-user {
    position:absolute;
    top: 8px;
    left: 88px;
    color:#3BA8A5;
  }
  
  #submit {
    width: 80px;
    height: 40px;
    padding: 5px;
    background-color: #D6D6D6;
    border-style: none;
    margin-top: 30px;
    margin-bottom: 30px
  }
  #submit:hover {
    cursor: pointer;
    background-color: #575C56;
    color: white;
  }

  @media screen and (max-width: 768px) {
    .container {
      width: 366px;
    }
    .kpxc-username-icon.disconnected{
      margin-top: 1.2em;
    }
    
  }
  
  /************************FOOTER************************/
  .footer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background: rgb(250, 248, 248);
    align-items: center;
    justify-items: center;
    padding: 1em;
    font-size: 1.5em;
  }
  .footer-left a:hover,
  .footer-right a:hover{
    color: $secondary;
  }
.footer-middle{
    text-align: center;
}
.bi {
    padding: 1em;
}
//   让footer里的三个板块全部保持到最底下
  .page-container {
    // position: relative;
    // min-height: 100vh;
    margin:0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  // .content-wrap {
  //   padding-bottom: 2.5rem;    /* Footer height */
  // }
  
  .page-footer {
    // position: absolute;
    // bottom: 0;
    // width: 100%;
    // height: 2.5rem;  
    flex: 1;          /* Footer height */
  }

  .footer p ,
  .footer a {
    color: #575C56;
  }

  @media screen and (max-width: 768px) {

    /* hide classic menu */
    .footer {
        display: flex;
        flex-direction: column;
        gap: 1em;
        
    }
  
  
  }


/*************CREATE PHOTO****************/
.create {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background: white;
    padding: 3em;
}
.create-titre {
    padding: 1em;
}
// 调整表单的均匀分配的长度一直
.form label {
    display: inline-block;
    width: 90px;
    height:30px;
    line-height:30px;
    vertical-align: middle;
    text-align: justify;
    text-align-last: justify 

}
.form textarea,
.form input  {
    width: 600px;
}
.create-btn {
    align-items: center;
}



