<div class="card-about">
	<div class="card-header">
		<div class="titre-header">
			<div class="header-line">
				<span class="line"></span>
				<span class="header-text">About Me</span>
				<span class="line"></span>
			</div>

			<h1>Qui je suis ?</h1>
			<p>Ma vision à travers mon appareil photo.</p>
			<button></button>
		</div>

		{# <a href="{{ path('admin.about.create') }}" class="a-btn">Create  present</a> #}
	</div>
	{% for present in about %}
		<img src="{{ vich_uploader_asset(present, 'image')}}" alt="photo">

		<div class="about-body">
			<em>{{ present.createdAt|format_datetime('full', 'none')}}</em>
			<p class="about-content">{{ present.content|sanitize_html|striptags  }}</p>
		</div>

	{% endfor %}


</div>
