<div class="message-card">
	<h1>Contact
	</h1>
	<form action="" method="POST" class="card-form">
		<p>Nom<span>*</span>
		</p>
		<div class="fullname">

			<label for="prenom">
				<input type="text" name="prenom" class="prenom" placeholder="John" required>
				<p>Prénom</p>
			</label>
			<label for="nom">
				<input type="text" name="nom" class="nom" placeholder="Doe" required>
				<p>Nom</p>
			</label>
		</div>
		<div class="email">
			<label for="email" required>
				<p>Email<span>*</span>
				</p>
				<input type="email" name="email" class="email" placeholder="john@exemple.com" required>
			</label>
		</div>
		<div class="message">
			<label for="message">
				<p>Messages<span>*</span>
				</p>
				<textarea name="message" id="message" cols="82" rows="10" placeholder="Ce que vous voulez me dire ..." required></textarea>
			</label>
		</div>


	</form>
	<button class="btn btn-contact" type="submit">Envoyer</button>
</div>
