<div class="validation">

	<h1>
		<i class="bi bi-envelope-heart"></i>Merci de votre message
		<i class="bi bi-envelope-heart"></i>
	</h1>
	<hr>
	<p>J'ai bien reçu votre demande. Celle-ci sera traitée dans les plus brefs délais.Un consultant va vous joindre très prochainement au numéro de téléphone indiqué ou email.</p>
	<a href="{{ path('app.homepage')}}">Retour à la page d'accueil</a>
</div>
