

.image-body {
    // 100%窗口高度
    height: 100vh;
    // 弹性布局 水平+垂直居中
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #f0f7f7;
    margin-left: -2em;

}
.image-container {
    display: block;
    display: flex;
    width: 90vw;
    max-width: 900px;
    height: 550px;
    // 溢出隐藏
    overflow: hidden;
    margin-left: 4em;
}
.item {
    // 相对定位
    position: relative;
    width: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    // 保持原有尺寸,切长边
    background-size: cover;
    // 定位背景图片为正中间
    background-position: center;
    // 过渡效果
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    overflow: hidden;
}
.item shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    
}
.item .image-content {
    display: flex;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 10px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.item:nth-child(1) {
    color: #fc6e51;

}
.item:nth-child(2) {
    color: #ffce54;
    
}
.item:nth-child(3) {
    color: #2ecc71;
    
}
.item:nth-child(4) {
    color: #5d9cec;
    
}
.item:nth-child(5) {
    color: #ac92ec;
    
}
.item .image-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    width: 100%;
}
.item .image-content .text div {
    // 超出显示省略号（需要设置width）
    width: calc(100% - 70px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.item .image-content .text .title {
    font-weight: bold;
    font-size: 18px;
}
.item .image-content .text .sub {
    // 设置过渡效果延迟时间
    transition: 0.1s;
}

// 选种样式
.item.active {
    flex: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.item.active .shadow {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 65%, transparent);
}
.item.active .image-content {
    bottom: 20px;
    left: 20px;

}
.item.active .image-content div {
    opacity: 1;
}

/********HomeText****************/

.home-img {
  
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   gap: 2em;
   justify-content: center;
   align-items: center;
   background-color: #e7ebedef;
}
.home-right {
    margin: auto;
    
    
}
.home-right p {
    padding-bottom: 2em;
    width: 40%;
    
}

.home-text h1 {
    font-family: "Great Vibes", sans-serif;
    font-size: 4em;
    color: #7a7171;
    text-align: center;
    margin: .5em 0;
}
.home-text p {
    width: 90%;
    color: #939099;
    text-align: justify;
    
}


/*********HomeVideo****************/
.home-video {
    background-color: #e7ebedef;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
    gap: 4em;
    
}
.home-video-text {
    
    width: 80%;
    text-align: justify;
    margin-left: 6em;
}
// .video-left {
//     margin: 0 3em;

// }
.video-left h2 {
    font-family: "Great Vibes", sans-serif;
    font-size: 4em;
    color: #5a5050;
    text-align: center;
    margin: 1em 0;
}
.video-left h2 a {
    color: #7a7171;
}
.video-left a:hover {
   color: $secondary;
}

.video-right video {
    margin-top: 4em;
    width: 100%;
    height: 550px;
}

// @media  screen and (max-width:768px) {
//     .video-right video {
//         margin-top: -23em;
//         margin-bottom: -10em;

//     }
    
// }
// .video-left,
.video-right {
    margin: 3em;
}
.home-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: bottom / cover url("../../images/about-2.jpg");
    width: 100%;
    height: calc(110vh - 70px); 
    // filter: blur(0.5px);
    // box-shadow: 0 0 5px 5px #ccddf1;
    margin-top: -7em;
    

    &-overlay {
        position: absolute;
        z-index: 0;
        width: 100%;
        height: calc(110vh - 70px); 
        background: rgba(0, 0, 0, 0.333);
    }
}

.home-app p,
.home-app h1 {
    position: relative;
    z-index: 1;
    width: 40%;
    text-align: center;
    background:white;
    -webkit-background-clip: text;
    color: transparent;
    margin-top: 1em;
}

@media screen and (max-width: 992px){
    
    .home-app {
        width: 100%;  
        margin-top: -10em; 
       
      }
      .home-app p,
      .home-app h1 {
        width: 70%;
        
      }
      .home-app h1 {
        margin-top: 5em;
      }
      .home-img{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .home-video {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;

        
      }
      .home-video video {
        padding: -20px;
        margin-top: -4em;
        margin-bottom: -4em;
      }
      .video-left{
        margin-top: -8em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        a {
            color: #7a7171;
        }
        p {
            padding-bottom: 3em;
            margin-left: -0.5em;
        }
      }
      .home-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 3em;

       

        p {
            padding-bottom: 2em;
        }
      }
     
}
.swiper {
    display: none!important;
}
@media screen and (max-width: 992px){
    .image-container {
        display: none;
    }
    .image-body{
        margin-top: -51em;
    }
    .swiper {
        display: block!important;
        margin-top: -5em;
    }
    .swiper-wrapper{
        margin-top: 10em;
    }
    .banner-slider {
        width: 380px;
        
       
    
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
            margin-top: 4em;
        }
    
      
    
        .swiper-pagination-bullet {
            width: 15px ;
            height: 15px ;
            
        }
    
        .swiper-pagination-bullet-active {
            position: relative;
            background: $secondary;
            
        }
    
        .swiper-pagination-bullet-active::after {
            content: "";
            position: absolute;
            top: -3px;
            left: -3px;
            right: -3px;
            bottom: -3px;
            border: $secondary 1px solid;
            border-radius: 50%;
        }

      
    }

  
    

}
