.image-body {
    // 100%窗口高度
    height: 100vh;
    // 弹性布局 水平+垂直居中
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: #f0f7f7;

}
.image-container {
    display: flex;
    width: 90vw;
    max-width: 900px;
    height: 550px;
    // 溢出隐藏
    overflow: hidden;
}
.item {
    // 相对定位
    position: relative;
    width: 60px;
    margin: 10px;
    cursor: pointer;
    border-radius: 30px;
    // 保持原有尺寸,切长边
    background-size: cover;
    // 定位背景图片为正中间
    background-position: center;
    // 过渡效果
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    overflow: hidden;
}
.item shadow {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
    
}
.item .image-content {
    display: flex;
    position: absolute;
    left: 10px;
    right: 0;
    bottom: 10px;
    height: 40px;
    transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
}
.item:nth-child(1) {
    color: #fc6e51;

}
.item:nth-child(2) {
    color: #ffce54;
    
}
.item:nth-child(3) {
    color: #2ecc71;
    
}
.item:nth-child(4) {
    color: #5d9cec;
    
}
.item:nth-child(5) {
    color: #ac92ec;
    
}
.item .image-content .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    color: #fff;
    width: 100%;
}
.item .image-content .text div {
    // 超出显示省略号（需要设置width）
    width: calc(100% - 70px);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.5s ease-out;
}
.item .image-content .text .title {
    font-weight: bold;
    font-size: 18px;
}
.item .image-content .text .sub {
    // 设置过渡效果延迟时间
    transition: 0.1s;
}

// 选种样式
.item.active {
    flex: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
}
.item.active .shadow {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.35) 65%, transparent);
}
.item.active .image-content {
    bottom: 20px;
    left: 20px;

}
.item.active .image-content div {
    opacity: 1;
}

/********HomeText****************/
.home-text {
    // background: bottom / cover url("../../images/about-6.jpg");
    // height: calc(110vh - 120px);
   display: flex;
   flex-direction: column;
   align-items: center; 
   justify-content: center;
}
.home-text h1 {
    font-family: "Great Vibes", sans-serif;
    font-size: 4em;
    margin-top: 1em;
}
.home-text p {
    width: 60%;
    color: #4d4b51;
    text-align: justify;
  
}


/*********HomeVideo****************/
.home-video video {
    margin: 4em 0;
    width: 100%;
    height: 640px;
}
