{% extends "base.html.twig" %}
{% block title %}
	Création d'une presentation |
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include 'Layout/header.html.twig' %}
	<section class="create">
		<h1 class="create-titre">Création d'une presentation</h1>
		<div class="create-container">

			{% include 'Backend/About/_form.html.twig' with { buttonLabel: 'Créer' } %}
			<a href="{{path('admin.about.index')}}" class="lien-list">Retourne à la page about</a>
		</div>
	</section>
{% endblock %}
