{% extends "base.html.twig" %}
{% block title %}
	Création d'une presentation |
	{{ parent() }}
{% endblock %}
{% block body %}
	{% include 'Layout/header.html.twig' %}
	<div class="container-fluid mt-4">
		<div class="card w-50 mx-auto p-3">
			<h1 class="text-center">Création d'une presentation</h1>
			{% include 'Backend/About/_form.html.twig' with { buttonLabel: 'Créer' } %}
			<a href="{{path('admin.about.index')}}" class="lien-list">Retourne à la page about</a>
		</div>
	</div>
{% endblock %}
