<header class="navbar">
	<div class="navbar-left">

		<a href="{{ path('app.homepage') }}">

			<i class="bi bi-camera2">
				JEREMY</i>
		</a>

	</div>
	<div class="navbar-right">
		<ul class="navbar-list">

			<li>
				<a href="#">ACCUEIL</a>
			</li>
			<li>
				<a href="#">PORTFOLIO</a>
			</li>
			<li>
				<a href="#">ABOUT</a>
			</li>
			<li>
				<a href="#">CONTACT</a>
			</li>

		</ul>
	</div>

</header>
